page-memberDetail {
	ion-avatar img  {
		width:100% !important;
		height : 100% !important;
		max-width: 120px !important;  //any size
		max-height: 120px !important; //any size
	}
	.button-md{
		text-transform: none;
		font-weight: normal;
	}
	.item-button {
		font-size: 16px !important;
	}
	.balance {
		height: 1em;
		p { font-size: 16px; }

		ion-avatar {
			font-size: 20px;
			height: 1em;
			min-height: 1em;
			min-width: inherit;
		}
	}

}
