<ion-header>
  <ion-navbar>
    <ion-title>Member Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="app-item-details" *ngIf="member">

    <ion-item>
      <ion-avatar item-left>
        <img [src]="member.portrait || 'assets/images/default_user.jpg'">
      </ion-avatar>

      <h2 class="title">{{ member.name }}</h2>

      <p class="subtitle" *ngIf="member.mail">
        <a ion-button icon-left href="mailto:{{member.mail}}">
          <ion-icon name="mail"></ion-icon>
          {{ member.mail }}
        </a>
      </p>

      <p class="subtitle" *ngIf="member.phone">
        <a ion-button icon-left href="tel:{{member.phone}}">
          <ion-icon name="call"></ion-icon>
          {{ member.phone }}
        </a>
      </p>

      <ion-item class="balance" *ngIf="member.balance">
  			<ion-avatar item-left>
        	<ion-icon name="trending-up"></ion-icon>
      	</ion-avatar>
  			<p [innerHTML]="member && member.balance"></p>
  		</ion-item>

    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item>
          <p><b>Locality:</b> {{ member.locality }}</p>
          <p><b>Address:</b> {{ member.street_address }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <p class="description">{{ member.aboutme }}</p>
  </ion-card>
</ion-content>
<!-- <ion-footer>
  <ion-list>
    <ion-item>
      <button (click)="showActions()">
        <i class="ion-navicon-round"></i>
      </button>
    </ion-item>
  </ion-list>
</ion-footer> -->
