page-members {
  ion-note {
      font-size: 14px;
      align-self: flex-start;
      padding-top: 6px;
    }
  ion-avatar{
    width: 40%;
    padding-right: 10px;
  }
  .description {
    max-height: 120px !important;
  }
}
