<ion-header>
  <ion-navbar>
    <ion-title><a href="#" (click)="goToFullSite()">{{ settings.COMMUNITY_NAME || settings.APP_NAME }}</a></ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="false">
  <ion-list class="home-header">
    <ion-item>
      <p [innerHTML]="member && member.balance" class="balance" item-end></p>
      <ion-avatar item-start>
        <img [src]="member && member.image || member && member.portrait || 'assets/images/default_user.jpg'">
      </ion-avatar>
      <h2 translate [translateParams]="{name: member.name }">Hello!</h2>
      <p translate [translateParams]="{locality: member.locality || 'your area' }">What's up in your area today?</p>
    </ion-item>
  </ion-list>

<ion-list class="home-nav">
	<ng-container *ngFor="let menu of menus">

		<ion-list-header *ngIf="menu.header">{{ menu.header | translate }}</ion-list-header>

		<ion-item *ngFor="let menuEntry of menu.menu_items" (click)="goToPage(menuEntry);showOptions(menuEntry, $event)">
      <ion-icon [name]="menuEntry.icon" item-start></ion-icon>
			{{ menuEntry.title }}
      <i class="ion-arrow-down-b" *ngIf="menuEntry.options && menuEntry.options.length" item-end></i>
    </ion-item>

  </ng-container>

	<ion-item (click)="doLogout()">
    <ion-icon name="log-out" item-start></ion-icon>
    {{ 'Log Out' | translate }}
	</ion-item>

	<ion-list-header>{{ settings.APP_NAME }} <span *ngIf="settings.APP_VERSION">{{settings.APP_VERSION}}</span></ion-list-header>
</ion-list>


</ion-content>
