<ion-header>
  <ion-navbar>
    <ion-title>{{ settings.APP_NAME }} / <a href="{{ settings.WEB_SITE_URL }}">{{ settings.COMMUNITY_NAME }}</a></ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="false">
  <ion-list class="home-header">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="member && member.image || 'assets/images/default_user.jpg'">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <h2>{{ member && member.name }}</h2>
      <p>{{ member && member.mail }}</p>
    </ion-item>
  </ion-list>

<ion-list class="home-nav">
	<ng-container *ngFor="let menu of menus">

		<ion-list-header *ngIf="menu.header">{{ menu.header }}</ion-list-header>

		<ion-item *ngFor="let menuEntry of menu.menu_items" (click)="goToPage(menuEntry);showOptions(menuEntry, $event)">
      <i [class]="menuEntry.icon" item-left></i>
			{{ menuEntry.title }}
      <i class="ion-arrow-down-b" *ngIf="menuEntry.options && menuEntry.options.length" item-right></i>
    </ion-item>

  </ng-container>

	<ion-item (click)="doLogout()">
		<i class="ion-log-out" item-left></i> Log Out
	</ion-item>
</ion-list>


</ion-content>
