page-home {
	.toolbar-title {
		a{
			color: #fff;
			text-decoration: none;
		}
	}
	ion-list.list {
		margin: 0;

		ion-item.item {
			border-bottom: 0.55px solid #ccc;
			min-height: 50px;
			height: 50px;

			&:hover {
				background: #737A82;
				color: #fff;
			}
			ion-label {
				font-size: 16px;
			}
			ion-icon {
				font-size: 22px;
				padding-left: 10px;
				padding-top: 10px;
				width:36px;
			}
			.item-inner {
				border: none;
			}

		}
	}
	ion-list.list.home-nav {
		margin: 0;

		ion-list-header {
			font-size: 16px;
			height: 25px;
			min-height: 25px;
			margin: 15px 7px 3px 0;
			background: none;
			color: #fff;
			border:0;
		}
		ion-item.item {
			height: 36px;
			min-height: 36px;
		}
	}
}
ion-list.list.home-header {
	padding-top: 10px;

	ion-item.item {
		background: none;
		border: none;
		height: initial;
		min-height: initial;

		ion-avatar {
			margin: 0 15px 0 0;

			img {
				height: 50px;
				width: 50px;
			}
		}
		h2, p {
			color: #fff;
			font-size: 1.3rem;
		}
		p {
			font-size: 15px;
		}
		.balance {
			margin: 0 8px 9px 0;
			height: 30px;
			font-size: 14px;
		}
	}
}
