<ion-header>
  <ion-navbar>
    <ion-title>Want Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="app-item-details" *ngIf="want">
    <h2 class="title">{{ want.title }}</h2>

    <div class="description" [innerHTML]="want.description"></div>
    <ion-row>
      <ion-col col-6 (click)="showMember(want.user_id)">
        <ion-item class="item-avatar">
          <ion-avatar>
            <img [src]="want.user_id_ref.portrait || 'assets/images/default_user.jpg'">
          </ion-avatar>
					<p>
						{{ want.user_id_ref.name }}
					</p>
        </ion-item>

      </ion-col>
      <ion-col col-6>
        <ion-item>
					<p *ngIf="want.$category">Category: <b>{{ want.$category }}</b></p>
          <p *ngIf="want.changed">Posted: <b>{{ want.changed }}</b></p>
          <p *ngIf="want.expires">Expires: <b>{{ want.expires }}</b></p>

          <ng-container *ngIf="currentUser == want.user_id">
            <button class="my-actions edit" ion-button (click)="editWant(want)" >Edit</button>
            <button class="my-actions delete" ion-button (click)="deleteWant(want.id)" >Delete</button>
          </ng-container>

          <ng-container *ngFor="let link of want._links">
            <button *ngIf="link.rel !='self'" class="my-actions edit" ion-button (click)="customAction(link.label, link.href, link.confirm)">{{link.label}}</button>
          </ng-container>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
<!-- <ion-footer>
  <ion-list>
    <ion-item>
      <button (click)="showActions()">
        <i class="ion-navicon-round"></i>
      </button>
    </ion-item>
  </ion-list>
</ion-footer> -->
