<ion-header>
  <ion-navbar>
		<ion-title>Transaction</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="ui success message" *ngIf="success">
    <i class="close icon"></i>
    <div class="header">Success!</div>
    <p>New transaction created.</p>
  </div>

  <ion-card *ngIf="transaction">
    <ion-card-content>
      <p> {{ transaction.description }} </p>
      <p> <span [innerHTML]="transaction.amount"></span> </p>
      <p>from
        <button ion-button small class="button-normal" (click)="showMember(transaction.payer_ref.id)">{{ transaction.payer_ref.name }}</button>
      <p>to
        <button ion-button small class="button-normal" (click)="showMember(transaction.payee_ref.id)">{{ transaction.payee_ref.name }}</button>
      </p>

      <ng-container *ngFor="let link of transaction._links">
        <button *ngIf="link.rel !='self' && link.rel !='view'" class="edit" ion-button small (click)="customAction(link.label, link.href, link.confirm)">{{link.label}}</button>
      </ng-container>

    </ion-card-content>
  </ion-card>

</ion-content>
