<ion-header>
  <ion-navbar>
    <ion-title>Needs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar (search)="setFilter($event)"></ion-searchbar>

  <ion-list class="app-filters" *ngIf="filterName">
    <ion-item>
      Needs currently listed in {{ filterName }}
    </ion-item>
  </ion-list>
  <ion-list class="app-items">

    <ion-item *ngFor="let want of wants" (click)="showDetails(want.id)">
      <ion-thumbnail item-left>
        <img [src]="want.image || 'assets/images/default.jpg'">
      </ion-thumbnail>
      <h6>{{ want.title }}</h6>
      <div *ngIf="want.description" class="description" [innerHTML]="want.description"></div>
    </ion-item>

  </ion-list>
</ion-content>
<ion-footer>
  <ion-list>
    <ion-item *ngIf="canPost">
      <button (click)="addWant()">Post Need</button>
    </ion-item>
    <ion-item>
      <button (click)="showFilters()">
        <i class="ion-navicon-round"></i>
      </button>
    </ion-item>
  </ion-list>
</ion-footer>
