<ion-header>
  <ion-navbar>
    <ion-title>Needs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar (search)="setFilter($event)"></ion-searchbar>

  <ion-list class="app-filters" *ngIf="filterName">
    <ion-item>
      Needs currently listed in {{ filterName }}
    </ion-item>
  </ion-list>
  <ion-list class="app-items">
    <ion-item *ngFor="let want of wants">
      <ion-thumbnail item-left>
        <img [src]="want.image || 'assets/images/default.jpg'">
      </ion-thumbnail>
      <h6>{{ want.title }}</h6>
      <p class="description">{{ want.description }}</p>

      <button ion-button (click)="showDetails(want.id)" *ngIf="!myActions && currentUser != want.user_id">View</button>

      <ng-container *ngIf="myActions || currentUser == want.user_id">
        <button class="my-actions view" ion-button (click)="showDetails(want.id)" >View</button>
        <button class="my-actions edit" ion-button (click)="editWant(want)" >Edit</button>
        <button class="my-actions delete" ion-button (click)="deleteWant(want.id)" >Delete</button>
      </ng-container>

      <ng-container *ngFor="let link of want._links">
        <button *ngIf="link.rel !='self'" class="my-actions delete" ion-button (click)="customAction(link.label, link.href, link.confirm)">{{link.label}}</button>
      </ng-container>

    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-list>
    <ion-item *ngIf="canPost">
      <button (click)="addWant()">Post Need</button>
    </ion-item>
    <ion-item>
      <button (click)="showFilters()">
        <i class="ion-navicon-round"></i>
      </button>
    </ion-item>
  </ion-list>
</ion-footer>
